{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <input type="text" name="nom" placeholder="nom">
        <button type="submit">Valider</button>
    </form>
{% endblock %}

